<!--
<div class="list">
  {{item-selector label="Data" array=model.data selected=selectedData}}
  {{item-selector label="Process" array=model.processes selected=selectedProcess}}
  {{item-selector label="Purpose" array=model.purposes selected=selectedPurpose}}
  {{item-selector label="Recipient" array=model.recipients selected=selectedRecipient}}
  {{item-selector label="Location" array=model.locations selected=selectedLocation}}
  {{item-selector label="User" array=model.users selected=selectedUser}}
</div>

<button {{action "sendMessage" "set" }}>Set</button>
<button {{action "sendMessage" "unset" }}>Unset</button>
-->
{{outlet}}
