{{#paper-content class="md-whiteframe-z1 list-demo consent-list" }}
  {{#paper-list}}
    {{#each policies as |policy|}}
      {{#paper-item class="md-3-line consent-item" }}
        <div class="md-list-item-text">
          <div class="consent-item_textblock">
            <div class="consent-item_textblockTitle">Data: </div>
            <div class="consent-item_textblockText">{{policy.dataCollection}}</div>
          </div>
          <div class="consent-item_textblock">
            <div class="consent-item_textblockTitle">Location: </div>
            <div class="consent-item_textblockText">{{policy.locationCollection}}</div>
          </div>
          <div class="consent-item_textblock">
            <div class="consent-item_textblockTitle">Process: </div>
            <div class="consent-item_textblockText">{{policy.processCollection}}</div>
          </div>
          <div class="consent-item_textblock">
            <div class="consent-item_textblockTitle">Purpose: </div>
            <div class="consent-item_textblockText">{{policy.purposeCollection}}</div>
          </div>
          <div class="consent-item_textblock">
            <div class="consent-item_textblockTitle">Recipient: </div>
            <div class="consent-item_textblockText">{{policy.recipientCollection}}</div>
          </div>

          <div class="consent-item_checkboxblock">
            {{array-includes-item array=(await user.policies) item=policy}}

            {{#paper-checkbox value=(array-includes-item array=(await user.policies) item=policy) noink=true onChange=(action "insertOrRemovePolicy" user.policies policy)}}
            A checkbox
            {{/paper-checkbox}}

            {{input type="checkbox" checked=(array-includes-item array=(await user.policies) item=policy) change=(action "insertOrRemovePolicy" user.policies policy)}}
          </div>

        </div>
      {{/paper-item}}
      {{paper-divider}}
      {{else}}
        {{#paper-item class="md-3-line" }}
          <div class="md-list-item-text">
            <div class="consent-item_textblock">
              <div class="consent-item_textblockText">No consents to show.</div>
            </div>
          </div>
        {{/paper-item}}
        {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}

<button {{action "save"}}>Save new policies</button> {{outlet}}
