{{#paper-content class="md-whiteframe-z1 list-demo consent-list" }}
  {{#paper-list}}
    {{#each policies as |policy|}}
      {{#paper-item class="md-3-line consent-item" }}
        <div class="md-list-item-text">
          <div class="consent-item_textBlock">
            <div class="consent-item_textBlockTitle">Data: </div>
            <div class="consent-item_textBlockText">{{policy.dataCollection}}</div>
          </div>
          <div class="consent-item_textBlock">
            <div class="consent-item_textBlockTitle">Location: </div>
            <div class="consent-item_textBlockText">{{policy.locationCollection}}</div>
          </div>
          <div class="consent-item_textBlock">
            <div class="consent-item_textBlockTitle">Process: </div>
            <div class="consent-item_textBlockText">{{policy.processCollection}}</div>
          </div>
          <div class="consent-item_textBlock">
            <div class="consent-item_textBlockTitle">Purpose: </div>
            <div class="consent-item_textBlockText">{{policy.purposeCollection}}</div>
          </div>
          <div class="consent-item_textBlock">
            <div class="consent-item_textBlockTitle">Recipient: </div>
            <div class="consent-item_textBlockText">{{policy.recipientCollection}}</div>
          </div>

          <div class="consent-item_checkboxBlock">
            {{array-includes-item array=(await user.policies) item=policy}}

            {{#paper-checkbox value=(array-includes-item array=(await user.policies) item=policy) noink=true onChange=(action "insertOrRemovePolicy" user.policies policy)}}
              A checkbox
            {{/paper-checkbox}}

            {{input type="checkbox" checked=(array-includes-item array=(await user.policies) item=policy) change=(action "insertOrRemovePolicy" user.policies policy)}}
          </div>

        </div>
      {{/paper-item}}
      {{paper-divider}}
      {{else}}
        {{#paper-item class="consent-item" }}
          <div class="md-list-item-text">
            <div class="consent-item_textBlock">
              <div class="consent-item_textBlockText">No consents to show.</div>
            </div>
          </div>
        {{/paper-item}}
        {{paper-divider}}
    {{/each}}
    {{paper-divider}}
    {{#paper-item class="consent-item" }}
      <div class="consent-item_buttonBlock">
        {{#paper-button raised=true primary=true noink=true onClick=(action "save")}}
          Save new policies
        {{/paper-button}}
      </div>
    {{/paper-item}}
  {{/paper-list}}
{{/paper-content}}
